/*GLOBAL START*/

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: var(--background);
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--gray-200);
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 45px;
  display: inline-block;
  color: var(--gray-200);
  letter-spacing: 1px;
}

p {
  font-size: 20px;
}

section {
  margin: 60px;
}

img {
  margin: 5px;
}

/*GLOBAL END*/

/*HEADER START*/

/* .hidden {
    display: none;
} */

/* .nav-displayed {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    background-color: var(--background-div);
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
} */

.visible {
  opacity: 1;
}

nav {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  background-color: var(--background-div);
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s, opacity 0.5s;
}

#navbar {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  background-color: var(--background-div);
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: top 0.3s, opacity 0.5s;
}

#navbar.visible {
  opacity: 1;
}

.content {
  height: 2000px;
}

nav ul {
  margin: 10px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

nav img {
  max-width: 50px;
  max-height: 50px;
}

.bouton-nav {
  background-color: var(--orange-first);
  color: rgb(106, 0, 106);
  padding: 12px 23px;
  margin: 0 10px 0 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.bouton-nav:hover {
  background-color: var(--orange-second);
}

.bouton-nav a {
  color: rgb(106, 0, 106);
}

.bouton-nav span {
  margin-right: 5px;
}

header {
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.image-header-container {
  padding: 0px;
  margin: 0px;
  text-align: left;
  color: rgb(190, 193, 214);
  width: 1550px;
  height: 770px;
  background-image: url("../img/landscape1-copie2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.image-header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.9); /* Boîte d'ombre intérieure pour créer l'effet de vignette */
  pointer-events: none; /* Pour permettre aux événements de pointer à travers */
}

.image-header-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to bottom,
    rgba(15, 14, 23, 0),
    rgba(15, 14, 23, 1)
  );
}

/*HEADER END*/

/*MAIN START*/

/* .about {
    padding: 0px;
    margin: 0px;
    text-align: left;
    color: #a7a9be;
    background-color: var(--background);
} */

/* .about h1 {
    display: inline-block;
} */

.container {
  background-color: var(--background-div);
  border-radius: 10px;
  padding: 15px;
  margin: 0;
  transition: background-color 0.5s ease;
  color: #a7a9be;
}

.container:hover {
  background-color: var(--background-div-hover);
}

.intro {
  padding: 30px;
  text-align: left;
}

.intro-main {
  display: flex;
  justify-content: space-between;
}

.intro-main p {
  margin: 20px 20px 20px 0px;
  line-height: 30px;
}

.intro img {
  max-width: 500px;
  max-height: 500px;
}

.about-me {
  text-align: left;
}

.about-me:hover {
  background-color: var(--background-div-hover);
}

.about-me p {
  color: #a7a9be;
  font-size: 25px;
  line-height: 35px;
}

.project {
}

.project:hover {
  background-color: var(--background-div-hover);
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px;
  /* border: 2px solid var(--amber-400); */
  border-radius: 0px;
}

.project-img img {
  border-radius: 8px;
  border: 2px solid var(--gray-400);
  margin: 0;
  transition: transform 0.9s ease;
}

.project-img img:hover {
  transform: scale(1.1);
}

.project-img-button {
  color: var(--lime-400);
  margin: 0;
}

.project-img-button:hover {
  color: var(--rose-500);
}

.project-img-button:visited {
  color: var(--lime-400);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description b {
  margin-top: 10px;
  color: var(--gray-400);
  font-size: 20px;
}

.project-js {
  margin: 20px;
  color: var(--background-div);
  background-color: #e9d51f;
  border: 5px solid #c8aa16;
  border-radius: 8px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 240px;
  align-items: center;
}

.project-js div {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.transparent {
  width: 350px;
  height: 240px;
  margin: 20px;
  padding: 13px;
  background-color: transparent;
}

.bouton-project {
  background-color: var(--orange-first);
  color: var(--gray-900);
  padding: 12px 23px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.bouton-project:hover {
  background-color: var(--orange-second);
}

.bouton-project i {
  font-size: 19px;
}

.bouton-project span {
  margin-right: 10px;
  font-size: 19px;
}

.languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.languages img {
  max-width: 100px;
  max-height: 100px;

  transition: transform 0.9s ease;
}

.languages img:hover {
  transform: scale(1.1);
}

.tools {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tools img {
  max-width: 100px;
  max-height: 100px;

  transition: transform 0.9s ease;
}

.tools img:hover {
  transform: scale(1.1);
}

.big-project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.big-project img {
  max-width: 200px;
  max-height: 200px;
}

.big-project p {
  margin: 10px 0 10px 0;
}

.container-big-project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 280px;
  color: var(--gray-400);
}

.container-big-project img {
  transition: transform 0.9s ease;
}

.container-big-project img:hover {
  transform: scale(1.05);
}

.container-big-project p {
  text-align: center;
}

/*MAIN END*/

/*FOOTER START*/

footer {
  background-color: var(--background-div);
  color: var(--gray-200);
  text-align: center;
  padding: 10px;
  /*position: fixed;*/
  bottom: 0;
}

.contact img {
  max-width: 50px;
  max-height: 50px;
}

.privacy a {
  color: white;
}

.privacy a:visited {
  color: purple;
}

.footer-button {
  margin: 15px;
}

.footer-button a {
  margin: 7px;
  color: var(--gray-200);
  font-size: 19px;
  text-decoration: underline;
  text-decoration-color: wheat;
  text-underline-offset: 5px;
}

/*FOOTER END*/

/*ANIMATION START*/

.slide-left {
  -webkit-animation: slide-left 1s ease-out both;
  animation: slide-left 1s ease-out both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
*/

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.lien-avec-animation {
  position: relative;
}

.lien-avec-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Placez le soulignement en dessous du texte */
  width: 0%;
  height: 4px; /* Épaisseur de la ligne de soulignement */
  background-color: var(--orange-first); /* Couleur du soulignement */
  transition: width 0.3s ease; /* Transition pour l'animation de la largeur */
}

.lien-avec-animation:hover::after {
  width: 100%; /* Faites croître la largeur du soulignement au survol */
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/*ANIMATION END*/

/*MEDIA QUERIES START*/

/* Pour les ordinateurs de bureau */
@media (min-width: 768px) {
  main {
    padding: 4% 4%;
  }

  .about {
    text-align: center;
  }
}

/* Pour les ordinateurs de bureau et les tablettes en mode paysage */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    padding: 4% 13%;
  }

  header {
    padding: 4% 5%;
    margin: 3%;
  }

  footer {
    margin: 3%;
  }

  .about {
    padding: 0;
  }

  main {
    padding: 10px;
  }

  .bouton {
    margin: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}

/* Pour les téléphones et tablettes */
@media (max-width: 767px) {
  body {
    padding: 12% 8%;
  }

  nav {
    flex-direction: column;
  }

  nav ul {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px;
  }

  .intro-main {
    flex-direction: column;
  }

  .intro-main img {
    max-width: 300px;
    max-height: 300px;
  }

  img {
    max-width: 300px;
    max-height: 195px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  .project h2 {
    text-align: center;
  }

  .languages img {
    max-width: 80px;
    max-height: 80px;
  }
}

/*MEDIA QUERIES END*/

/*TEST START*/

/* Ajoutez ces styles dans votre feuille de style CSS */

/* .hamburger-menu {
    display: none; 
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}


.change .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar:nth-child(2) {opacity: 0;}

.change .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


@media screen and (max-width: 767px) {
    .hamburger-menu {
        display: block; 
    }

} */

/*TEST END*/

:root {
  /* Color variables */
  --black-000: #000000;
  --white-000: #ffffff;
  --trans-000: transparent;

  --slate-050: #eceff1;
  --slate-100: #cfd8dc;
  --slate-200: #b0bec5;
  --slate-300: #90a4ae;
  --slate-400: #78909c;
  --slate-500: #607d8b;
  --slate-600: #546e7a;
  --slate-700: #455a64;
  --slate-800: #37474f;
  --slate-900: #263238;

  --gray-050: #f9fafb;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;

  --red-050: #fef2f2;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;

  --orange-050: #fff7ed;
  --orange-100: #fffaf0;
  --orange-200: #feebc8;
  --orange-300: #fbd38d;
  --orange-400: #f6ad55;
  --orange-500: #ed8936;
  --orange-600: #dd6b20;
  --orange-700: #c05621;
  --orange-800: #9c4221;
  --orange-900: #7b341e;

  --amber-050: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;

  --yellow-050: #fefce8;
  --yellow-100: #fffff0;
  --yellow-200: #fefcbf;
  --yellow-300: #faf089;
  --yellow-400: #f6e05e;
  --yellow-500: #ecc94b;
  --yellow-600: #d69e2e;
  --yellow-700: #b7791f;
  --yellow-800: #975a16;
  --yellow-900: #744210;

  --lime-050: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314;

  --green-050: #f0fdf4;
  --green-100: #f0fff4;
  --green-200: #c6f6d5;
  --green-300: #9ae6b4;
  --green-400: #14f195;
  --green-500: #48bb78;
  --green-600: #38a169;
  --green-700: #2f855a;
  --green-800: #276749;
  --green-900: #22543d;

  --teal-050: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;

  --cyan-050: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;

  --sky-050: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;

  --blue-050: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --indigo-050: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;

  --purple-050: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;

  --fuchsia-050: #fdf4ff;
  --fuchsia-100: #fae8ff;
  --fuchsia-200: #f5d0fe;
  --fuchsia-300: #f0abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;
  --fuchsia-800: #86198f;
  --fuchsia-900: #701a75;

  --pink-050: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;

  --rose-050: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;

  --brown-050: #efebe9;
  --brown-100: #d7ccc8;
  --brown-200: #bcaaa4;
  --brown-300: #a1887f;
  --brown-400: #8d6e63;
  --brown-500: #795548;
  --brown-600: #6d4c41;
  --brown-700: #5d4037;
  --brown-800: #4e342e;
  --brown-900: #3e2723;

  --trend-050: #fff4d9;
  --trend-100: #fdd0bb;
  --trend-200: #fea8b3;
  --trend-300: #d4eee6;
  --trend-400: #bde5fe;
  --trend-500: #0000fe;
  --trend-600: #400c3e;
  --trend-700: #2c4763;
  --trend-800: #1f364d;
  --trend-900: #0e2439;

  --background: #0f0e17;

  --background-div: #121629;

  --background-div-hover: #1f2646;

  --orange-first: #ff8906;

  --orange-second: #f25f4c;

  --orange-third: #e53170;

  --test: #a5eba3;
}
